<div class="container">
  <div class="row d-flex justify-content-between align-items-center">
    <h4>備品一覧</h4>
    <%= link_to "備品を追加する", new_admin_equipment_path, class: "btn btn-primary btn-sm" %>
  </div>
  
  <div class="row justify-content-center mt-5">
    <div class="col-8">
      <table class="table table-hover table-bordered">
        <thead>
            <tr>
              <th class="text-center">備品ID</th>
              <th>備品名</th>
              <th class="text-center">管理番号</th>
              <th class="text-center">ジャンル</th>
              <th class="text-center">備品ステータス</th>
            </tr>
        </thead>
        <tbody>
            <% @equipments.each do |equipment| %>
            <tr>
              <td class="text-center"><%= equipment.id %></td>
              <td><%= link_to "#{equipment.equipment_name}", admin_equipment_path(equipment.id), class: 'text-dark' %></td>
              <td class="text-center"><%= equipment.management_number %></td>
              <td class="text-center"><%= equipment.genre.equipment_genre %></td>
              <td class="text-center"><%= link_to "#{equipment.equipment_status_i18n}", edit_admin_equipment_path(equipment.id), class: 'text-dark' %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center align-items-center">
        <%= paginate @equipments %>
      </div>
    </div>
  </div>
</div>