<div class="container">
  <div class="row">
    <h4>備品新規登録</h4>
  </div>
  <div class="row mt-3 offset-1">
    <div class="col-8 mx-auto">

        <%= form_with model: @equipment, url: admin_equipments_path do |f| %>
          <div class="form-group">
            <%= f.label :"備品名", class: "col-md-3 col-form-label" %>
            <%= f.text_field :equipment_name %>
          </div>
          
          <div class="form-group">
            <%= f.label :"管理番号", class: "col-md-3 col-form-label" %>
            <%= f.text_field :management_number %>
          </div>
          
          <div class="form-group">
            <%= f.label :"備品画像", class: "col-md-3 col-form-label" %>
            <%= f.file_field :image, accept: "image/*" %>
          </div>
          
          <div class="form-group">
            <%= f.label :"ジャンル", class: "col-md-3 col-form-label" %>
            <%= f.collection_select :genre_id, Genre.all, :id, :equipment_genre %>
          </div>
          
          <div class="form-group">
            <%= f.label :"管理担当者", class: "col-md-3 col-form-label" %>
            <%= f.text_field :administrator %>
          </div>
          
          <div class="form-group">
            <%= f.label :"備品状態", class: "col-md-3 col-form-label" %>
              <!--使用可能-->
              <%= f.radio_button :equipment_status, Equipment.equipment_statuses.key(0) %>
              <%= f.label :equipment_status, Equipment.equipment_statuses_i18n[:available], value: Equipment.equipment_statuses.key(0) %>
              <!--使用不可-->
              <%= f.radio_button :equipment_status, Equipment.equipment_statuses.key(2) %>
              <%= f.label :equipment_status, Equipment.equipment_statuses_i18n[:unavailable], value: Equipment.equipment_statuses.key(2) %>
              <!--故障中-->
              <%= f.radio_button :equipment_status, Equipment.equipment_statuses.key(3) %>
              <%= f.label :equipment_status, Equipment.equipment_statuses_i18n[:in_failure], value: Equipment.equipment_statuses.key(3) %>
              <!--メンテナンス中-->
              <%= f.radio_button :equipment_status, Equipment.equipment_statuses.key(4) %>
              <%= f.label :equipment_status, Equipment.equipment_statuses_i18n[:under_maintenance], value: Equipment.equipment_statuses.key(4) %>
          </div>
          
          <div class="form-group d-flex">
            <%= f.label :"備考", class: "col-md-3 col-form-label" %>
            <%= f.text_area :equipment_remarks, rows: '5', class: "col-md-4 form-control" %>
          </div>
          
          <div class="form-group ml-3">
            <%= f.submit "新規登録", class: "btn-success mx-auto" %>
          </div>
          
        <% end %>
      </div>
    </div>
  </div>
</div>