<div class="container">
  <div class="row">
    <h4>備品詳細</h4>
  </div>

  <div class="row offset-2 mt-5">
    <div class="col-md-4">
      <% if @equipment.image.attached? %>
        <%= image_tag @equipment.image, class: "show-img" %>
      <% else %>
        <%= image_tag 'no_image', class: "show-img" %>
      <% end %>
      <div class="d-flex justify-content-center mt-5">
        <p class="mr-2">管理担当者 :</p>
        <div class="ml-3">
          <p><%= @equipment.administrator %></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-2">
      <table class="table">
        <tr><td>備品名</td><td><%= @equipment.equipment_name %></td></tr></br>
        <tr><td>管理番号</td><td><%= @equipment.management_number %></td></tr>
        <tr><td>ジャンル</td><td><%= @equipment.genre.equipment_genre %></td></tr>
        <tr><td>備品ステータス</td><td><%= @equipment.equipment_status_i18n %></td></tr>
        <tr><td>備考</td><td><%= @equipment.equipment_remarks %></td></tr>
      </table>
    </div>
  </div>

  <div class="row pt-2 pl-4">

    <div class="col-md-3 offset-3">
      <%= link_to "使用履歴", admin_root_path(equipment_id: @equipment.id), class: "btn btn-warning btn-sm" %>
    </div>

    <div class="col-md-3 offset-2">
      <%= link_to '編集する', edit_admin_equipment_path(params[:id]),class:'btn btn-success btn-sm' %>
    </div>
  </div>
</div>
