<div class="container">
  <div class="row">
    <h4>申請情報入力</h4>
  </div>

  <div class="row mt-5 justify-content-center mr-5">
    <%= form_with model: @user_application, url:confirm_user_applications_path, id: 'application-form' do |f| %>
      <div class="form-group row">
        <%= f.label :"目的", class: "col-md-3 col-form-label" %>
        <div class="col-md-9">
          <%= f.text_field :objective, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"借用期間", class: "col-md-3 col-form-label" %>
        <div class="col-md-4">
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
        <div class="col-md-1 d-flex align-items-center justify-content-center">
          <span>〜</span>
        </div>
        <div class="col-md-4">
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"返却予定日", class: "col-md-3 col-form-label" %>
        <div class="col-md-9">
          <%= f.date_field :return_date, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"使用場所", class: "col-md-3 col-form-label" %>
        <div class="col-md-9">
          <%= f.text_field :location, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :"備考", class: "col-md-3 col-form-label" %>
        <div class="col-md-9">
          <%= f.text_area :application_remarks, rows: '5', class: "form-control" %>
        </div>
      </div>

      <div class="form-group row text-center">
        <div class="col-md-9 offset-md-3">
          <%= f.submit "申請画面へ進む", class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>